@model taka.Models.Enitities.User

@{
    ViewBag.Title = "Takasa";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}

<body>
    <div class="user-page-brief">
        <h3>Hồ Sơ Của Tôi</h3>
    </div>
    <div>
        <table class="table" style="vertical-align:auto">
            <tr>
                <th>Họ Tên</th>
                <td>@Model.Fullname</td>
            </tr>
            <tr>
                <th>Ngày Sinh</th>
                <td>
                    @DateTime.Parse(@Model.Birthday).ToString("dd/MM/yyyy")
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Số Điện Thoại</th>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <th>Giới Tính</th>
                <td>@Model.Gender</td>
            </tr>
        </table>
    </div>


</body>

