@model taka.Models.Enitities.USER

@{
    List<taka.Models.Enitities.ORDER> processingOrders = ViewBag.ProcessingOrders;
    List<taka.Models.Enitities.ORDER> doneOrders = ViewBag.DoneOrders;
    List<taka.Models.Enitities.ADDRESS> addresses = ViewBag.Addresses;

    ViewBag.Title = "Teader";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}
<head>
    <style>


        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }

            .rate:not(:checked) > input {
                position: absolute;
                top: -9999px;
            }

            .rate:not(:checked) > label {
                float: right;
                width: 1em;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 30px;
                color: #ccc;
            }

                .rate:not(:checked) > label:before {
                    content: '★ ';
                }

            .rate > input:checked ~ label {
                color: #ffc700;
            }

            .rate:not(:checked) > label:hover,
            .rate:not(:checked) > label:hover ~ label {
                color: #deb217;
            }

            .rate > input:checked + label:hover,
            .rate > input:checked + label:hover ~ label,
            .rate > input:checked ~ label:hover,
            .rate > input:checked ~ label:hover ~ label,
            .rate > label:hover ~ input:checked ~ label {
                color: #c59b08;
            }
    </style>
</head>
<div style="flex:1;background-color:#f5f5f5;padding:10px;border-radius:10px">
    <div style="display:flex;flex:1">
        <div class="list-group" id="list-tab" style="flex-direction: row;flex:1" role="tablist">
            <a class="btn m-1 pl-5 pr-5 btn-light active show" style="flex:1" id="tab_login" data-toggle="list" href="#processing" role="tab">
                Chưa giao
                <span class="badge badge-primary badge-pill" style="background-color:#00B38F;">@processingOrders.Count</span>
            </a>
            <a class="btn m-1 pl-5 pr-5 btn-light" id="tab_register" style="flex:1" data-toggle="list" href="#deliveried" role="tab">
                Đã giao

            </a>
        </div>
    </div>
    <div style="display:flex;flex:1;">
        <div class="tab-content" style="flex:1;" id="nav-tabContent">
            <div class="tab-pane fade active show" id="processing" role="tabpanel">

                <ul class="list-group">
                    @foreach (var item in processingOrders)
                    {

                        <li class="list-group-item list-group-item-action" data-toggle="collapse" data-target=".detail_@item.ID">
                            <h5>@item.CLIENT_NAME</h5>
                            <strong>@item.SHIPPER</strong>
                            <p>@addresses.Where(x => x.ID == item.ID_ADDRESS).ToList().First().ADDRESS1</p>
                            <h6 class="text-right" style="color:#ee2d4d;">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", item.TOTAL_PRICE) VND</h6>
                        </li>
                        foreach (var tea in item.ORDER_DETAIL.ToList())
                        {
                            <li class="list-group-item list-group-item-action collapse detail_@item.ID">
                                <img src="@tea.TEA.IMAGEs.First().URL" style="width:80px; height:80px;" />
                                <strong>@tea.TEA.TITLE</strong>

                                <p align="right">Số lượng: @tea.AMOUNT</p>
                            </li>

                        }
                    }
                </ul>
            </div>
            <div class="tab-pane fade" id="deliveried" role="tabpanel">

                <ul class="list-group">
                    @foreach (var item in doneOrders)
                    {
                        <li class="list-group-item list-group-item-action" data-toggle="collapse" data-target=".detail_@item.ID">

                            <h5>@item.CLIENT_NAME</h5>
                            <strong>@item.SHIPPER</strong>
                            <p>@addresses.Where(x => x.ID == item.ID_ADDRESS).ToList().First().ADDRESS1</p>
                            <h6 class="text-right" style="color:#ee2d4d;">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", item.TOTAL_PRICE) VND</h6>


                        </li>

                        foreach (var tea in item.ORDER_DETAIL.ToList())
                        {

                <li class="list-group-item list-group-item-action collapse detail_@item.ID" id="tea_@tea.ID">
                    <img src="@tea.TEA.IMAGEs.First().URL" style="width:80px; height:80px;" />
                    <strong>@tea.TEA.TITLE</strong>

                    <p align="right">Số lượng: @tea.AMOUNT</p>
                    @*Star Rating*@
                    <div class="rate" onchange="getStar(@tea.ID_TEA, @tea.ID)" >
                        <input type="radio" id="star5_@tea.ID" name="rate" value="5" />
                        <label for="star5_@tea.ID" title="text">5 stars</label>
                        <input type="radio" id="star4_@tea.ID" name="rate" value="4" />
                        <label for="star4_@tea.ID" title="text">4 stars</label>
                        <input type="radio" id="star3_@tea.ID" name="rate" value="3" />
                        <label for="star3_@tea.ID" title="text">3 stars</label>
                        <input type="radio" id="star2_@tea.ID" name="rate" value="2" />
                        <label for="star2_@tea.ID" title="text">2 stars</label>
                        <input type="radio" id="star1_@tea.ID" name="rate" value="1" />
                        <label for="star1_@tea.ID" title="text">1 star</label>
                    </div>
                    <img onerror="Rated(@tea.ID, @tea.TEA.RATEs.Where(x=>x.ID_USER==Model.ID).First().RATE1)" src="" style="display:none">

                    <script>

                    </script>
                    @*End Star Rating*@
                </li>

                        }
                    }
                </ul>
            </div>

        </div>
    </div>
</div>

<script>
    let getStar = (idTea, idDetail) => {
        star = $('#tea_' + idDetail + ' input:checked').val();
        $.ajax({
            type: "POST",
            url: `/User/AddRating`,
            data: { idTea, star },
            success: data => { }
        });
    }
    let Rated = (idDetail, star) => {
        $('#star' + star + '_' + idDetail).attr('checked', 'checked');
    }
</script>
